@model SV21T1020206.Web.Models.CustomerSearchResult;

@{
    Layout = null;
}
<p style="margin:10px 0 10px 0">
    Có <b>@Model.RowCount</b> khách hàng trong tổng số <b>@Model.PageCount</b> trang

</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped" style="border: 1px solid black; width: 100%;">
        <thead>
            <tr class="bg-primary" style="border: 1px solid black;">
                <th style="border: 1px solid black;">Tên khách hàng</th>
                <th style="border: 1px solid black;">Tên giao dịch</th>
                <th style="border: 1px solid black;">Điện thoại</th>
                <th style="border: 1px solid black;">Email</th>
                <th style="border: 1px solid black;">Địa chỉ</th>
                <th style="border: 1px solid black;">Tỉnh thành</th>
                <th style="border: 1px solid black;">Bị khóa?</th>
                <th style="width:80px; border: 1px solid black;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr style="border: 1px solid black;">
                    <td style="border: 1px solid black;">@item.CustomerName</td>
                    <td style="border: 1px solid black;">@item.ContactName</td>
                    <td style="border: 1px solid black;">@item.Phone</td>
                    <td style="border: 1px solid black;">@item.Email</td>
                    <td style="border: 1px solid black;">@item.Address</td>
                    <td style="border: 1px solid black;">@item.Province</td>
                    <td class="text-center" style="border: 1px solid black;">
                        @(item.IsLocked ? "x" : "")
                    </td>
                    <td class="text-right" style="border: 1px solid black;">
                        <a href="~/Customer/Edit/@item.CustomerID" class="btn btn-xs btn-info">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Customer/Delete/@item.CustomerID" class="btn btn-xs btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center">
    <ul class="pagination">
        @for (int p = 1; p <= Model.PageCount; p++)
        {
            if (p == Model.Page)
            {
                <li class="active"><a href="#">@p</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="doSearch(@p)">@p</a></li>
            }
        }

    </ul>
</div>